* {
  margin: 0;
  padding: 0;
}

.carContainer {
  min-height: 200px;
  width: 90vw;
  margin-left: 60px;
  overflow: auto;
  /* flex-wrap: wrap; */
  display: flex;
}

.car {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.carImg {
  height: 180px;
  width: 300px;
  margin: 20px;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin-left: 9vw;
}

.title {
  margin-left: 600px;
}

.searchBar {
  padding: 7px;
  width: 80vw;
  font-size: large;
  outline: none;
  margin-top: 5px;
}

.searchBtn {
  padding: 10px 15px;
  width: 200px;
  font-size: large;
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 13px;
}
.suggestion{
  height: 52px;
  width: 81.3vw;
  font-size: large;
  outline: none;
  background-color: aliceblue;
  cursor: pointer;
}
.suggestion:hover{
  background-color: rgb(190, 215, 236);
}
.suggestionsContainer{
  min-height: 10px;
  max-height: 162px;
  /* height: 162px; */
  overflow: auto;
  /* background-color: blue; */
}
.labelCarSearch{
font-size: 20px;
font-weight:500;
margin-left:105px ;
}
.voiceSearch{
  background-color: aliceblue;
  padding: 10px;
  display: flex;
  border-radius: 3px;
  /* width: 155px; */
  /* display: inline-block; */
}
.mic{
  margin-top: 5px;
  margin-bottom: 5px;
}
.micBtn{
  margin-left: 7px;
  border: none;
  border-radius: 3px;
  width: 50px;
  color: white;
  font-weight: bold;
  padding: 2px;
  cursor: pointer;
}
.voiceSearch .micBtn:nth-child(2){
  background-color: green;
}
.voiceSearch .micBtn:nth-child(3){
  background-color: red;
}
.voiceSearchBtn {
  /* display: inline-block; */
  padding: 10px 15px;
  width: 200px;
  font-size: large;
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 5px;
  /* margin-top: 13px; */
}
.voiceFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}
